.login-page {
  height: 83.4vh;
}

.sign-in {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.register-form_title {
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 auto 15px;
  font-family: "Montserrat", sans-serif;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 100px auto 0px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Montserrat", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #598C90;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: background 0.3s ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #4F747A;
}

.form .message {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

  .form .message a {
    text-decoration: underline;
  }

[data-tip] {
  position:relative;
}

[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a; 
  position:absolute;
  top:30px;
  left:10px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}

[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:35px;
  left:0px;
  padding:7px 10px;
  background:#b0cdcf;
  font-family: "Montserrat", sans-serif;
  color:#fff;
  z-index:9;
  font-size: 0.75em;
  height:28px;
  line-height:28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display:block;
}

.create-wrap {
  height: 76.1vh;
}