.cabinet {
	margin: 0 auto;
	padding: 20px 0;
	/*height: calc(100vh - 146px);*/
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: calc(10px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

	.cabinet-title {
		font-size: 2em;
		font-weight: bold;
	}

	.cabinet-pics {
		text-align: left;
    	display: flex;
/*    	align-items: flex-start;
    	flex-direction: column;
    	flex-wrap: wrap;
    	align-content: space-between;
    	max-height: 413vh;*/
	    justify-content: space-around;
	    flex-direction: row;
	    flex-wrap: wrap;
	}

		.cabinet-photo {
			display: inline-block;
		    box-sizing: border-box;
		    max-width: 426.6px;
		    margin-top: 4%;
		    background: #cdd4e5;
		    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
		    line-height: 1px;
		}

		.cabinet-photo-like-count {
			line-height: 30px;
			padding: 2%;
			vertical-align: top;
			display: inline-block;
			width: 10%;
			font-size: 20px;
			color: #395f60;
		}

	.cabinet-login {
		font-size: 1.5em;
		margin: 20px;
	}

	.change-data, .change-pass, .change-email {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 6px 24px;
		cursor: pointer;
		font-weight: bold;
		display: block;
		margin: 10px auto;
		width: 180px;
		transition: background 0.3s ease-in;
	}

	.change-data:hover, .change-email:hover, .change-pass:hover {
		background: #578c90;
		color: #fff;
	}

	#change-user-data {
		width: 350px;
		height: 185px;
		margin: 40px auto;
		background:  #fff;
		border: 1px solid #fff;
		border-radius: 15px;
		z-index: 150;
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		font-family: "Montserrat", sans-serif;
	}

	.pop-up {
		width: 275px;
		margin: 0 auto 20px auto;
		text-align: center;
	}
	.input {
		width: 260px;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.input.submit {
		display: block;
		margin: 5px auto 0;
		width: 25%;
    	font-size: 20px;
  		font-family: "Montserrat", sans-serif;
	}

	.close {
		margin: 10px 0 0 285px;
		display: block;
		width: 5%;
	}

	.close:hover {
		cursor: pointer;
	}

	#grey {
		background-color: rgba(1,1,1,0.75);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: none;
		z-index: 100;
	}

	.feed-item--comment {
		font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
	}

	.feed-item--dell {
		line-height: 30px;
    	font-size: calc(18px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    	font-weight: bold;
    	text-align: center;
    	padding: 2%;
    	transition: all 0.3s ease-in-out;
	}

		.feed-item--dell:hover {
			cursor: pointer;
			background-color: #7d90ba;
    		color: #fff;
		}

.pagination-wrapper-cabinet {
	text-align: center;
  	margin: 0 auto;
}