.camera {
	margin: 10px 0;
	position: relative;
}
	.photo-holder {
		display: flex;
		justify-content: space-around;
     	margin-bottom: 2%;
	}

.camera-featurs {
	width: 40%;
	margin: 0 auto 10px;
	display: flex;
	justify-content: space-around;
}

.video-holder {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#snap, label.capture-btn, #sendPic {
	background-color: #f2f2f2;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	padding: 5px;
	line-height: 30px;
	transition: all 0.1s ease-in-out;
	font-family: "Montserrat", sans-serif;
}

	#snap:hover, label.capture-btn:hover, #sendPic:hover {
		background-color: #9e8fc6;
		color: #fff;
	}

.camera-featurs--upload {
	display: inline-block;
	position: relative;
}

#canvas {
	margin: 0 auto;
	display: block;
	background-image: url(../../templates/img/bgr.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgba(0,0,0,0.3);
}

input[type="file"] {
	position: absolute;
	top: 0;
	z-index:-1;
	font-size: 0;
}

#preCanvas {
	position: absolute;
    top: 0;
    left: 57px;
}

aside.left {
	display: inline-block;
	width: 50%;
	background: #e2ddee;
}

	.layers {
		position: relative;
	    display: flex;
	    justify-content: space-around;
	    flex-wrap: wrap;
	}

		.layers input{
		    position: absolute !important;
		    clip: rect(0, 0, 0, 0);
		    height: 1px;
		    width: 1px;
		    border: 0;
		    overflow: hidden;
		}

		.layers label {
			display: inline-block;
			width: 20%;
		}

		.layers label:hover {
			cursor: pointer;
		}

		.layers input:checked + label{
			background: #90b8bb;
		}