.feed {
	font-family: 'Montserrat', sans-serif;
	height: calc(100% - 106px);
}

.feed-holder {
	max-width: 1600px;
	margin: 0 auto;
	font-size: 0px;
}

	.feed-item {
		display: inline-block;
		box-sizing: border-box;	
		max-width: 426.6px;
		margin-right: 10%;
		margin-top: 3%;
		background: #cdd4e5;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	}

	.feed-item:nth-child(3n) {
		margin-right: 0;
	}

		.feed-item--pic img {
			width: 100%;
			height: 400px;
			object-fit: cover;
		}

	.feed-item--like {
		display: inline-block;
		width: 10%;
		padding: 2%;
	}

		.feed-item--like img {
			display: block;
			width: 100%;
		}

		.feed-item--like-count {
			padding-top: 2%;
			vertical-align: top;
			display: inline-block;
			width: 10%;
			font-size: 20px;
			color: #395f60;
		}

	.feed-item--author {
		background: #cdd4e5;
	    font-size: 20px;
	    line-height: 35px;
	    padding: 2%;
	    text-align: center;
	    color: #395f60;
	}

		b {
			font-weight: bold;
		}

	.feed-item--last-com {
		margin: 10px;
	}

		.feed-item--last-com_who, .feed-item--last-com_text {
			display: inline-block;
			font-size: 24px;
		}

		.feed-item--last-com_who {
    		font-weight: bold;
		}

		.feed-item--last-com_text {
			padding-left: 10px;
		}

/*PAGINATOR*/

/*//----------  responsive breakpoints
//------------------------------------------------------------------------------
@mixin breakpoint ($value) {
  @if $value == 'phone' {
    @media only screen and (min-width: 120px) and (max-width: 767px) { @content; }
  } @else if $value == 'tablet' {
    @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
  } @else if $value == 'touch' {
    @media only screen and (min-width: 120px) and (max-width: 1024px) { @content; }
  } @else if $value == 'desktop' {
    @media only screen and (min-width: 1025px) { @content; }
  } @else {
    @media only screen and (max-width: $value) { @content; }
  }
}

//----------  pagination
//------------------------------------------------------------------------------*/
.pagination-wrapper {
  text-align: center;
  margin: 0 auto;
}

.pagination {
	display: inline-block;
	height: 55px;
	margin-top: 35px;
	padding: 0 25px;
	border-radius: 35px;
	background-color: #eee;

	/*@include breakpoint(1199px) {
		height: 50px;
		margin-top: 50px;
		padding: 0 10px;
		border-radius: 25px;
	}*/
}

.page-numbers {
	display: block;
	padding: 0 25px;
	float: left;
	transition: 400ms ease;
	color: #595959;
	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 55px;
}

	.page-numbers:hover,
	.page-numbers.current {
		background-color: #7B90BB;
		color: #fff;
	}

	.page-numbers.prev:hover,
	.page-numbers.next:hover {
		background-color: transparent;
    	color: #5772a8;
	}

	/*@include breakpoint(1199px) {
		padding: 0 15px;
		font-size: 16px;
		line-height: 50px;
	}*/

	/*@include breakpoint(touch) {
		padding: 0 14px;
		display: none;

		&:nth-of-type(2) {
			position: relative;
			padding-right: 50px;

			&::after {
				content: '...';
				position: absolute;
				font-size: 25px;
				top: 0;
				left: 45px;
			}
		}

		&:nth-child(-n+3),
		&:nth-last-child(-n+3) {
			display: block;
		}

		&:nth-last-child(-n+4) {
			padding-right: 14px;

			&::after {
				content: none;
			}
		}*/
	/*}
}*/