.top {
    line-height: 50px;
    padding: 5px;
    background: linear-gradient(0.25turn, #252e5b, #222a54);
}

.menu__unknown a, .logo a {
    outline: none;
    color: #8ea2c5;
    display: inline-block;
}

.logo {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
}

.menu__unknown {
	display: inline-block;
    float: right;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

    .menu__unknown a:nth-child(1) {
        margin-right: 50px;
    }

    .menu__unknown a:hover {
        color: #415452;
        transition: color, 0.2s;
    }

    .menu__unknown a.login {
        text-transform: initial;
        font-style: italic;
    }

button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.like:hover {
    cursor: pointer;
}


footer {
    text-align: center;
    background-color: #222a54;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 40px;
    color: #8ea2c5;
    font-size: 0.8em;
    padding-left: 5px;
}

.btn-home{
    position: fixed;
    bottom: 4%;
    right: 1%;
    max-width: 48px;
    background: rgba(0,0,0,0.2);
    opacity: 0.5;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn-home:hover{
    opacity: 1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
}

.addPic {
    display: block;
    position: fixed;
    top: 80px;
    left: 12px;
    max-width: 80px;
    height: 80px;
    background: #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

    .addPic > a {
        display: block;
        margin: 50% auto;
    }

       .addPic a > img {
            width: 50%;
            margin: -25% auto;
       }

@media only screen and (max-width: 525px) {
    .addPic {
        top: 68px;
        left: 5px;
        max-width: 55px;
        height: 55px;
    }
}

@media only screen and (max-width: 454px) {
    .top {
        line-height: 35px;
    }

    .logo {
        font-size: 20px;
    }

    .menu__unknown a:nth-child(1) {
        margin-right: 5px;
    }
    .addPic {
        top: 48px;
        left: 2px;
        max-width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 400px) {

    footer {
        font-size: 10px;
        text-align: center;
    }
}
@media only screen and (max-width: 333px) {
    .menu__unknown {
        font-size: 11px;
    }
    footer {
        font-size: 8px;
    }
}